<article class="mt-article">
    <div class="mt-container  mt-article__container">
        <ins
            class="mt-article__ad  adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-5j+3m-l6-ny+2zd"
            data-ad-client="ca-pub-5843202476853272"
            data-ad-slot="5711027538"
        ></ins>
    </div>
</article>
