<div class="mt-article__ad">
    <ins
        class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-5843202476853272"
        data-ad-slot="9552810441"
    ></ins>
</div>
