<%
let unsplashId = page.unsplash || (is_home() && post.isLatest && post.unsplash);
if(unsplashId) {
    let unsplashUrl = `https://source.unsplash.com/${unsplashId}/1440x600`; %>
<div class="mt-unsplash">
    <figure style="background-image: url(<%= unsplashUrl %>), url('/assets/hero-pattern.svg') "></figure>
</div>
<% } %>
