<article class="mt-article  mt-typography">
    <div class="mt-container  mt-article__container">
        <header class="mt-article__header">
            <h1><%= page.title %></h1>
        </header>
        <div class="mt-article__body">
            <div class="mt-article__main">
                您找的页面不存在，试试页面上的其它链接吧 :D
            </div>
        </div>
    </div>
</article>
