<article class="mt-article  mt-typography">
    <header class="mt-article__header">
        <h1>Categories</h1>
    </header>
    <div class="mt-article__body">
        <div class="mt-article__main">
            <%- list_categories({
                class: 'mt-cagetory',
            }) %>
        </div>
    </div>
</article>
