<article class="mt-article  mt-typography">
    <div class="mt-container  mt-article__container">
        <header class="mt-article__header">
            <h1>Categories</h1>
        </header>
        <div class="mt-article__body">
            <div class="mt-article__main">
                <%- list_categories({
                    class: 'mt-category'
                }) %>
            </div>
        </div>
    </div>
</article>
