<%- partial('_partial/header-mini') %>
<section class="mt-tag-cloud">
    <h1>Tag Cloud</h1>
    <div>
        <%- tagcloud({
            min_font: 2,
            max_font: 5,
            unit: 'rem'
        }) %>
    </div>
</section>
