<%- partial("_partial/post/unsplash") %>
<article class="mt-article">
    <div class="mt-container  mt-article__container">
        <header class="mt-article__header">
            <div class="mt-article__metas">
                 <span class="mt-article__date">
                     <%= date(Date.now(), 'MMM DD, YYYY') %>
                 </span>
                <svg class="icon">
                    <use xlink:href="#icon-pencil"></use>
                </svg>
            </div>
            <h1 class="mt-article__title"><%= page.title %></h1>
        </header>
        <div class="mt-article__body">
            <div class="mt-article__main  mt-typography">
                <div class="mt-tag-cloud">
                    <%- tagcloud({
                        min_font: 1,
                        max_font: 3,
                        unit: 'em',
                        color: true,
                        start_color: '#999999',
                        end_color: '#000000'
                    }) %>
                </div>
            </div>
        </div>
    </div>
</article>
