<% if(is_home() || is_post()) { %>
    <div class="mt-article__front-matter">
        <%
            let cc = theme.cc || 'by';
            if (post.cc === false) {
                cc = '';
            } else if (typeof post.cc === 'string') {
                cc = post.cc;
            }

            let CCs = cc.split('-');

        if (CCs[0]) { %>
            <a class="mt-article__license" href="https://creativecommons.org/licenses/<%= cc %>/4.0/"
               title="Creative Commons License" target="_blank">
                <svg class="icon">
                    <use xlink:href="#icon-cc"></use>
                </svg>
                <% CCs.forEach((kind) => { %>
                    <svg class="icon">
                        <use xlink:href="#icon-<%= kind %>"></use>
                    </svg>
                <% }); %>
            </a>
        <% } %>
        <% if (post.tags && post.tags.length){ %>
            <%- list_tags(post.tags, {
                show_count: false,
                class: 'mt-article__tag'
            }) %>
        <% } %>
    </div>
<% } %>
