<header class="mt-header">
    <div class="mt-container  mt-header__container">
        <h1 class="mt-header__title"><a href="/"><%= config.title %></a></h1>
        <p class="mt-header__subtitle"><%= config.subtitle %></p>
        <%- partial('_partial/menu') %>
        <%- partial('_partial/filter') %>
    </div>
</header>
