<header class="mt-header  mt-header--mini">
    <div class="mt-header__outer">
        <h1 class="mt-header__title"><a href="/"><%= config.title %></a></h1>
        <p class="mt-header__subtitle"><%= config.subtitle %></p>
    </div>
</header>
