<nav class="mt-header__menu">
    <a class="mt-header__menu-toggle" role="button" href="#">
        <svg class="icon icon--flex icon-bars" role="presentation">
            <use xlink:href="#icon-bars"></use>
        </svg>
        <svg class="icon icon--flex icon-times" role="presentation">
            <use xlink:href="#icon-times"></use>
        </svg>
    </a>
    <div class="mt-header__menu-wrap">
        <ul class="mt-menu">
            <% for (var item in theme.menu){
                let isActive = is_current(theme.menu[item]); %>
            <li class="mt-menu__item">
                <a class="mt-menu__item-link <%= isActive ? 'active' : '' %>"
                   href="<%- url_for(theme.menu[item]) %>"><%= item %></a>
            </li>
            <% } %>
            <li class="mt-menu__item  mt-menu__item--search">
                <%- partial('_partial/search') %>
            </li>
        </ul>
    </div>
</nav>
