<% if (page.total > 1){ %>
    <nav class="mt-page-nav">
        <%
            const prev_text = "« " + __('prev');
            const next_text = __('next') + " »" %>
        <% if (is_home()) { %>
            <%- paginator({
                prev_text,
                next_text,
                mid_size: 0,
                end_size: 0,
                space: false
            }) %>
        <% } else { %>
            <%- paginator({
                prev_text,
                next_text
            }) %>
        <% } %>
    </nav>
<% } %>
