<% if (page.total > 1){ %>
    <nav class="mt-page-nav">
        <%
            const prev_text = "&laquo; " + __('prev');
            const next_text = __('next') + " &raquo;" %>
        <%- paginator({
            prev_text,
            next_text
        }) %>
    </nav>
<% } %>
