<form class="mt-search" action="//www.google.com/search?" target="_blank">
    <input type="hidden" name="as_sitesearch" value="<%=config.url%>">
    <input class="mt-search__query" type="search" name="q" placeholder="Search...">
    <button type="reset" class="mt-search__action">
        <svg class="icon">
            <use xlink:href="#icon-times"></use>
        </svg>
    </button>
    <button type="submit" class="mt-search__action">
        <svg class="icon">
            <use xlink:href="#icon-search"></use>
        </svg>
    </button>
</form>
