<div class="mt-archives__year">
    <div class="mt-container  mt-archives__year-container">
        <a class="mt-archives__year-link" href="/archives/<%= post.date.year() %>/">
            &lt;!--<%= post.date.year() %>--&gt;
        </a>
    </div>
</div>
