.mt-archives {
    margin-bottom: 3rem;

    @include mq($from: tablet) {
        margin-bottom: 5rem;
    }
}

.mt-archives__year {
    margin-bottom: 2rem;

    @include mq($from: tablet) {
        margin-bottom: 3rem;
    }
}

.mt-archives__year-container {
    max-width: $width-article-max;
}

.mt-archives__year-link {
    font-size: 2.0rem;
    font-family: $font-monospace;
    color: $mt-color-filter;

    @include mq($from: tablet) {
        font-size: 2.5rem;
    }
}
