.mt-archives {
    margin-bottom: 3rem;

    @include mq($from: tablet) {
        margin-bottom: 5rem;
    }
}

.mt-archives__year {
    margin: 3rem auto 2rem;
    max-width: $width-article-max;
    font-size: 2.0rem;
    font-family: $font-monospace;
    color: #666;

    @include mq($from: tablet) {
        margin: 4rem auto 3rem;
        padding: 0 4rem;
        font-size: 2.5rem;

        &:first-child {
            margin-bottom: 0;
        }
    }
}

.mt-dot-nav {
    display: none;

    @include mq($from: tablet) {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: fixed;
        top: 0;
        bottom: 0;
        right: 1rem;
        opacity: 0;

        transition: opacity ease 0.3s;
    }

    @include mq($from: desktop) {
        right: calc(50% - #{$width-article-max} / 2 - 10rem);
    }

    &:hover {
        opacity: 1 !important;
    }

    a {
        display: block;
        border-radius: 50%;
        transition: all ease 0.3s;
        opacity: 0;

        &::after {
            content: '';
            display: block;
            width: 2rem;
            height: 2rem;
            margin: 1rem;
            border-radius: 50%;
            transition: all ease 0.3s;
            background-color: black;
        }

        &:focus,
        &:hover {
            opacity: 0.5 !important;

            &::after {
                margin: 0;
                width: 4rem;
                height: 4rem;
            }
        }
    }
}
