$color-border-light: #eee;

.mt-article {
    @include mq($from: tablet) {
        padding: 3rem;
    }

    @include mq($from: desktop) {
        padding: 4rem;
    }

    & + & {
        margin-top: 4rem;
    }

    .mt-archives--title-only & + & {
        margin-top: 2rem;

        @include mq($from: tablet) {
            margin-top: 0;
        }
    }
}

.mt-article__header {
    padding-bottom: 0.5em;
    border-bottom: 0.1rem dashed $color-border-light;
    margin-bottom: 1em;

    @include mq($from: tablet) {
        margin-bottom: 2em;
    }

    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
    }
}

.mt-article__metas {
    font-family: $font-sans-serif;
    text-transform: uppercase;
    color: #999;

    .icon {
        color: #ccc;
    }
}

.mt-article__categories {
}

.mt-article__category-link {
    &:not(:last-child) {
        display: none;

        &::after {
            content: ' :: ';
            pointer-events: none;
        }

        @include mq($from: tablet) {
            display: inline;
        }
    }
}

.mt-article__title {
    .mt-article & {
        margin-bottom: 0;
    }

    a {
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: all ease 0.3s;

        &:hover {
            text-decoration-color: black;
        }
    }
}

.mt-article__body {
}

.mt-article__front-matter {
    display: flex;
    margin-bottom: 3rem;
}

a.mt-article__license {
    flex: 0 0 auto;
    display: inline-block;
    margin-right: 1rem;
    font-size: 2.0rem;
    text-decoration: none;
}

ul.mt-article__tag-list {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

li.mt-article__tag-list-item {
    margin-right: calc(1em + 0.5rem);
    margin-bottom: 0.5rem;
}

a.mt-article__tag-list-link {
    position: relative;
    display: inline-block;

    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: #fff4b1;

    font-family: $font-monospace;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #634500;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1em;
        width: 0;
        border: 1em solid transparent;
        border-right: none;
        border-left-color: #fff4b1;
    }
}

.mt-article__main {
    // A new micro clearfix hack
    // https://link.zhihu.com/?target=http%3A//nicolasgallagher.com/micro-clearfix-hack/
    &::before {
        content: '';
        display: table;
    }

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.mt-article__footer {
    display: flex;
    justify-content: center;
    border-top: 0.1rem dashed $color-border-light;
    padding-top: 2rem;

    @include mq($from: tablet) {
        padding-top: 3rem;
    }

    .mt-body--post &,
    .mt-body--page & {
        margin-bottom: 2rem;

        @include mq($from: tablet) {
            margin-bottom: 0;
        }
    }
}

.mt-article__footer-action {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background-color: #eee;
    color: #333;
    transition: all ease 0.3s;

    &:hover {
        color: #eee;
        background-color: #333;
    }
}

