
.mt-article {
    margin-bottom: 4rem;

    @include mq($from: tablet) {
        margin-bottom: 5rem;
    }
}

.mt-article__container {
    background-color: white;
    max-width: $width-article-max;

    .mt-unsplash + .mt-article & {
        position: relative;

        @include mq($from: tablet) {
            padding-top: 3rem;

            &::before,
            &::after {
                content: '';
                position: absolute;
                height: 20rem;
                width: 0;
                top: 1rem;
                box-shadow: 0 0 1rem 0.2rem rgba(black, 0.5);
                z-index: -1;
            }

            &::before {
                left: 0.4rem;
                transform: rotateZ(-4deg);
            }

            &::after {
                right: 0.4rem;
                transform: rotateZ(4deg);
            }
        }
    }
}

.mt-article__header {
    @include text-standard;
    padding-bottom: 0.5em;
    border-bottom: 0.1rem dashed $mt-color-border-light;
    margin-bottom: 1em;

    @include mq($from: tablet) {
        margin-bottom: 2em;
    }

    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
    }
}

.mt-article__metas {
    text-transform: uppercase;
    color: $mt-color-meta;

    .icon {
        color: $mt-color-meta-icon;
    }
}

.mt-article__categories {
}

a.mt-article__category-link {
    text-decoration: none;

    &:not(:last-child) {
        display: none;

        &::after {
            content: ' :: ';
            pointer-events: none;
        }

        @include mq($from: tablet) {
            display: inline;
        }
    }
}

.mt-article__title {
    @include text-heading;
    @include text-h1;

    margin: 0 !important;

    a {
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color ease 0.3s;

        &:hover {
            text-decoration-color: black;
        }
    }
}

.mt-article__body {
}

.mt-article__front-matter {
    @include text-standard;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 3rem;
}

a.mt-article__license {
    flex: 0 0 auto;
    display: inline-block;
    margin-right: 1rem;
    font-size: 2.0rem;
    text-decoration: none;
}

ul.mt-article__tag-list {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

li.mt-article__tag-list-item {
    margin: 0.3rem calc(1em + 0.5rem) 0.4rem 0;
}

a.mt-article__tag-list-link {
    position: relative;
    display: block;

    padding: 0.6rem 0.8rem 0.7rem;
    border-radius: $border-radius 0 0 $border-radius;
    background-color: $mt-color-tag-bg;

    font-family: $font-monospace;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: $mt-color-tag;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1em;
        width: 0;
        border: 1em solid transparent;
        border-right: none;
        border-left-color: $mt-color-tag-bg;
    }
}

.mt-article__main {
    @include clear-fix;
}

.mt-article__footer {
    @include text-standard;
    display: flex;
    justify-content: center;
    border-top: 0.1rem dashed $mt-color-border-light;
    padding-top: 2rem;

    @include mq($from: tablet) {
        padding-top: 3rem;
    }

    .mt-body--post &,
    .mt-body--page & {
        margin-bottom: 2rem;

        @include mq($from: tablet) {
            margin-bottom: 0;
        }
    }
}

a.mt-article__footer-action {
    padding: 0.5rem 1rem;
    border-radius: $border-radius-small;
    background-color: $mt-color-footer-action-bg;
    text-decoration: none;
    font-family: $font-sans-serif;
    color: $mt-color-footer-action;
    transition: all ease 0.3s;

    &:hover {
        color: $mt-color-footer-action-bg;
        background-color: $mt-color-footer-action;
    }

    & + & {
        margin-left: 1em;
    }
}

.mt-article__comment-link {
}

.mt-article__ad {
    margin-bottom: 2em;
    background-color: $mt-color-ad-bg ;
}
