.mt-footer {
    margin-bottom: 2rem;
    font-family: $font-sans-serif;
    font-size: 1.4rem;

    @include mq($from: tablet) {
        margin-bottom: 4rem;
        font-size: 1.6rem;
    }

    .mt-share + & {
        // makes room for share button on mobile
        @include mq($until: tablet) {
            padding-bottom: 5rem;
        }
    }
}

$mt-footer-skew: 3deg;

.mt-footer__container {
    display: flex;
    justify-content: space-between;
    max-width: $width-article-max;

    transform: skewY(-#{$mt-footer-skew});
    background: $mt-color-site-footer-bg;
    color: black;
    padding-top: 3rem;
    padding-bottom: 3rem;
    transition: border-radius ease 0.3s;

    @include mq($from: tablet) {
        border-radius: 0.5rem;
    }

    @include mq($from: desktop) {
        border-radius: 1rem;
    }
}

.mt-footer__left {
    transform: skewY(#{$mt-footer-skew});

    a {
        text-decoration: underline;
    }
}

.mt-footer__right {
    transform: skewY(#{$mt-footer-skew});

    text-align: right;
}

.mt-footer__menu {
}

.mt-footer__link {
}
