.mt-footer {
    margin-bottom: 2rem;
    font-family: $font-sans-serif;
    font-size: 1.4rem;

    @include mq($from: tablet) {
        margin-bottom: 4rem;
        font-size: 1.6rem;
    }

    .icon {
        top: 0.1ex;
    }

    .mt-share + & {
        // makes room for share button on mobile
        @include mq($until: tablet) {
            padding-bottom: 5rem;
        }
    }
}

.mt-footer__container {
    display: flex;
    justify-content: space-between;
    max-width: $width-article-max;
}

.mt-footer__left {
    a {
        text-decoration: underline;
    }
}

.mt-footer__right {
    text-align: right;
}

.mt-footer__menu {
}
