.mt-header {
    position: relative;
    padding-top: 2rem;
    margin-bottom: 3rem;
    z-index: 1;

    @include mq($from: tablet) {
        padding-top: 3rem;
        margin-bottom: 4rem;
    }
}

.mt-header__container {
    @include clear-fix;

    position: relative;
    max-width: $width-article-max;

    @include mq($from: desktop) {
        padding: 0;
    }
}

.mt-header__title {
    margin: 0 0 0.5em;
    font-family: $font-sans-serif;
    font-size: 2.0rem;

    @include mq($from: tablet) {
        font-size: 2.5rem;
    }
}

.mt-header__subtitle {
    margin-top: 0;
    font-family: $font-monospace;
    font-size: 1.4rem;

    @include mq($from: tablet) {
        font-size: 1.8rem;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.mt-header__filter {
    font-family: $font-sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;

    @include mq($from: tablet) {
        font-size: 1.8rem;
    }

    .icon {
        top: 0;
    }
}

.mt-header__menu {
    position: absolute;
    top: 0;
    right: $gutter-mobile;
}

.mt-header__menu-toggle {
    $extend: 1.7rem;

    position: relative;
    margin: -$extend -$extend 0 0;
    padding: $extend;
    font-size: 2.3rem;
    border-radius: 50%;
    cursor: pointer;

    @include mq($from: tablet) {
        display: none;
    }

    .icon {
        top: 0;
        transition: opacity ease 0.2s;
    }

    .icon-bars {
        .mt-body--menu-on & {
            opacity: 0;
        }
    }

    .icon-times {
        opacity: 0;
        position: absolute;
        right: 1.7rem;
        top: 1.7rem;

        .mt-body--menu-on & {
            opacity: 1;
        }
    }
}

.mt-header__menu-wrap {
    $top: 9.9rem;

    display: none;
    bottom: calc(100% - #{$top});
    background-color: white;
    transition: bottom ease 0.6s;
    overflow: hidden;

    @include mq($from: tablet) {
        display: block;
    }

    .mt-body--menu-on & {
        display: block;
        position: fixed;
        top: $top;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
    }
}
