@import '~highlight.js/styles/monokai-sublime.css';

.language-plain {
    display: block;
    background: #23241f;
    color: white;
    white-space: pre-wrap;
}

.language-plain,
.hljs {
    padding: 2rem;
    margin-left: -2rem;
    width: calc(100% + 4rem);
    border-radius: 0.5rem;

    @include mq($from: tablet) {
        margin-left: -3rem;
        width: calc(100% + 6rem);
        padding: 3rem;
    }
}


