@import '~highlight.js/styles/monokai-sublime.css';

.language-plain {
    display: block;
    background: #23241f;
    color: white;
    white-space: pre-wrap;
}

.language-plain,
.hljs {
    @include extend-width;
    padding: 2rem;

    @include mq($from: tablet) {
        padding: 2rem 3rem;
        border-radius: 0.5rem;
    }
}


