@import '~highlight.js/styles/monokai-sublime.css';

.language-plain {
    display: block;
    background: #23241f;
    color: white;
    white-space: pre-wrap;
}

.language-plain,
.hljs {
    @include extend-width;

    // add extra padding to make it looks better
    $gutter-extra: 0.3rem;

    padding: 2rem $gutter-mobile + $gutter-extra;

    @include mq($from: tablet) {
        padding: 2rem $gutter-tablet + $gutter-extra;
        border-radius: $border-radius;
    }

    @include mq($from: desktop) {
        padding: 2rem $gutter-desktop + $gutter-extra;
    }
}


