.mt-blog {

}

.mt-container {
    margin: 0 auto;
    padding: 0 $gutter-mobile;
    width: 100%;

    @include mq($from: tablet) {
        padding: 0 $gutter-tablet;
        max-width: $width-site-max;
    }
}
