.header-anchor {
    display: none;
}

.highlight {
    max-width: 100%;
    overflow-x: auto;
}

.mt-info {
    border-radius: $border-radius;
    border-left: 0.4rem solid #31b8cc;
    padding: 1rem calc(2em - #{$border-radius});
    margin-bottom: 1em;
    background-color: #eee;
}

.footnote-ref {
    margin-top: -6em;
    padding-top: 6em;

    a {
        font-family: $font-monospace;
        background-color: rgba(246, 216, 64, 0.58);
        color: #5c220c;
        border-radius: $border-radius-small;
        margin-left: $border-radius-small;
    }

    // hide the footnote in the post list
    .mt-archives .mt-article:not(.mt-article--latest) & {
        display: none;
    }
}

.footnote-backref {
    // hide the footnote in the post list
    .mt-archives .mt-article:not(.mt-article--latest) & {
        display: none;
    }
}

.footnotes-sep {

}

.footnote-item {
    margin-top: -6em;
    padding-top: 6em;

    p {
        text-indent: 0;

        a {
            word-break: break-word;
        }
    }
}
