.header-anchor {
    display: none;
}

.highlight {
    max-width: 100%;
    overflow-x: auto;
}

.mt-info,
.mt-warning,
.mt-success,
.mt-error {
    border-radius: $border-radius;
    border-left: 0.4rem solid $mt-color-note;
    padding: 1rem calc(2em - #{$border-radius});
    margin-bottom: 1em;
    background-color: $mt-color-note-bg;
}

.mt-info {
    border-left-color: $mt-color-note-info;
}

.mt-warning {
    border-left-color: $mt-color-note-warning;
}

.mt-success {
    border-left-color: $mt-color-note-success;
}

.mt-error {
    border-left-color: $mt-color-note-error;
}

.footnote-ref {
    margin-top: -6em;
    padding-top: 6em;

    a {
        font-family: $font-monospace;
        color: $mt-color-footnote-ref;
        background: none;
        background-color: $mt-color-footnote-ref-bg;
        border-radius: $border-radius-small;
        margin-left: $border-radius-small;
        text-decoration: none;
    }
}

a.footnote-backref {
    background: linear-gradient(to bottom, transparent 70%, $mt-color-footnote-ref-bg 70%);;
}

a.footnote-backref,
.footnote-ref,
.footnotes-sep,
.footnotes {
    // hide the footnote in the post list
    .mt-archives .mt-article:not(.mt-article--latest) & {
        display: none;
    }
}

.footnote-item {
    margin-top: -6em;
    padding-top: 6em;

    p {
        text-indent: 0;
        word-break: break-word;

        a {
            text-decoration: none;
        }
    }
}
