.mt-menu {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: $font-monospace;
    font-size: 1.8rem;

    @include mq($from: tablet) {
        display: flex;
        flex-direction: row;
    }
}

.mt-menu__item {
    list-style: none;

    @include mq($until: tablet) {
        border-top: 0.1rem dashed $mt-color-menu-item-border;
    }
    @include mq($from: tablet) {
        margin-left: 1rem;
    }
}

.mt-menu__item--search {
    @include mq($until: tablet) {
        padding: 2rem 0;
    }

    @include mq($until: tablet) {
        border-bottom: 0.1rem solid #eee;
    }

    @include mq($from: tablet) {
        margin-left: 2rem;
    }
}

.mt-menu__item-link {
    display: block;

    @include mq($until: tablet) {
        padding: 2rem;
        font-size: 2rem;
        font-family: $font-sans-serif;
        text-align: center;

        &:hover {
            background-color: $mt-color-menu-item-border;
            color: $mt-color-menu-item-hover
        }
    }

    @include mq($from: tablet) {
        border-radius: $border-radius;
        padding: 0.5rem 0.8rem;
        position: relative;
        font-weight: bold;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0.8rem;
            right: 0.8rem;
            bottom: 0;
            height: 0;
            background-color: #0c1667;
            border-radius: $border-radius-small;
            transition: height ease 0.3s;
        }

        &:hover::after {
            height: 0.4rem;
        }
    }

    &.active {
        background-color: black;
        color: white;
    }
}
