.mt-menu {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: $font-monospace;
    font-size: 1.8rem;

    @include mq($from: tablet) {
        display: flex;
        flex-direction: row;
    }
}

.mt-menu__item {
    list-style: none;

    @include mq($from: tablet) {
        margin-left: 1rem;
    }
}

.mt-menu__item--search {
    @include mq($until: tablet) {
        margin-top: 3rem;
    }
}

.mt-menu__item-link {
    display: block;

    @include mq($until: tablet) {
        padding: 2rem;
        font-size: 3rem;
        font-family: $font-sans-serif;
        text-align: left;

        &:hover {
            background-color: #333;
            color: #eee
        }
    }

    @include mq($from: tablet) {
        border-radius: $border-radius;
        padding: 0.5rem 0.8rem;
    }

    &.active {
        background-color: black;
        color: white;
    }
}
