.mt-page-nav {
    text-align: center;
    font-family: $font-sans-serif;
    font-size: 1.5rem;
    line-height: 2;
    margin-bottom: 3rem;

    @include mq($from: tablet) {
        font-size: 1.8rem;
        margin-bottom: 5rem;
    }

    a.extend {
        display: inline-block;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            display: block;
            border-radius: $border-radius-small;
            height: $border-radius-small;
            width: 0;
            bottom: 0;
            background-color: $mt-color-pagination;
            transition: width ease-in-out 0.3s;
        }

        &.prev {
            margin-right: 0.5em;
            &::after {
                right: 0;
            }
        }

        &.next {
            margin-left: 0.5em;
            &::after {
                left: 0;
            }
        }

        &:focus::after,
        &:hover::after {
            width: 100%;
        }
    }

    .page-number {
        position: relative;
        display: none;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        margin: 0.3rem;
        transition: color ease-in-out 0.1s;

        @include mq($from: tablet) {
            display: inline-flex;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            display: block;
            border-radius: 50%;
            background-color: $mt-color-pagination;
            transform: scale(0);
            transition: transform ease-in-out 0.1s;
        }

        &:focus,
        &:hover {
            color: white;

            &::after {
                transform: scale(1);
            }
        }

        &.current {
            display: inline-flex;
            background: linear-gradient(to bottom, $mt-color-pagination, darken($mt-color-pagination,10%));
            color: white;
            cursor: default;

            &::after {
                content: none;
            }
        }
    }

    .space {
        display: none;
        cursor: default;

        @include mq($from: tablet) {
            display: inline-block;
        }
    }
}
