.mt-search {
    display: inline-flex;
    align-items: center;
}

.mt-search__query {
    border: 0.2rem solid $mt-color-search-border;

    font-size: 1.4rem;

    &::placeholder {
        opacity: 1;
    }

    @include mq($until: tablet) {
        margin-right: -4rem;
        border-radius: 2rem;
        padding: 1rem 4rem 1rem 2rem;
    }

    @include mq($from: tablet) {
        border-radius: 1.5rem;
        padding: 0.2rem 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 3rem;
        color: transparent;
        transition: all ease 0.3s;

        .mt-search--typed & {
            padding-right: 3rem;
            width: 100%;
            color: $mt-color-search-query;
        }

        &::placeholder {
            color: transparent;
        }
    }
}

.mt-search__action {
    padding: 0;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    color: $mt-color-search-action;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &[type=reset] {
        display: none;

        .mt-search--typed & {
            display: flex;
        }
    }

    &[type=submit] {
        .mt-search--typed & {
            display: none;
        }
    }
}
