.mt-tag-cloud {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: $font-monospace;
    font-size: 1.2rem;
    line-height: 1.2;

    @include mq($from: tablet) {
        margin-bottom: 2rem;
        font-size: 1.4rem;
    }

    a {
        margin: 0 0.25em;
        text-decoration: none;
        background: linear-gradient(
                to bottom,
                transparent 70%,
                rgba($mt-color-link, 0.25) 70%
        );
    }
}
