.mt-typography {
    @include text-standard;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include text-heading;
    }

    h1 {
        @include text-h1;
    }

    h2 {
        @include text-h2;
    }

    h3 {
        @include text-h3;
    }

    h4 {
        @include text-h4;
    }

    h5 {
        @include text-h5;
    }

    h6 {
        @include text-h6;
    }

    p {
        margin: 0 0 1em;

        [lang="zh"] & {
            text-indent: 2em;
        }
    }

    ul,
    ol {
        margin: 0 0 1em;
        padding-left: 2em;
    }

    li {
        margin-bottom: 0.5em;

        > p:first-child {
            text-indent: 0;
        }
    }

    blockquote {
        position: relative;
        margin: 0 0 1em;
        padding: 1em 2em;
        color: $mt-color-blockquote;
        font-size: 1.2em;
        font-family: $font-serif;

        &::before,
        &::after {
            font-family: $font-monospace;
            font-size: 2em;
            display: block;
            text-align: center;
        }

        &::before {
            content: "/*";
        }

        &::after {
            content: "*/";
        }

        p:last-child {
            margin-bottom: 0;
        }

        a {
            word-break: break-all;
        }
    }

    img, video {
        display: block;
        max-width: 100%;
        margin: 0 auto;

        @include mq($from: tablet) {
            border-radius: $border-radius;
            box-shadow: 0.3rem 0.3rem 3rem 0 rgba(black, 0.1);
        }
    }

    a {
        background: linear-gradient(to bottom, transparent 70%, rgba($mt-color-link, 0.5) 70%);
    }

    pre,
    code {
        font-family: $font-monospace;

        a {
            word-break: break-word;
        }
    }

    li code,
    p code {
        margin-top: -0.1rem;
        padding: 0.1rem 0.4rem;
        background-color: $mt-color-code;
        border-radius: $border-radius-small;
        word-break: break-word;
        font-size: 1.2rem;
        color: white;

        @include mq($from: tablet) {
            font-size: 1.4rem;
        }
    }

    pre {
        margin-bottom: 2em;

        code {
            font-size: 1.4rem;
        }
    }

    iframe {
        margin-bottom: 2em;
    }

    & > iframe {
        @include extend-width;
    }

    hr {
        margin: 3rem auto;
        border: none;
        border-bottom: 0.1rem dashed $mt-color-hr;
        width: 20rem;
    }
}

.mt-typography--serif {
    font-family: $font-serif;
}
