.mt-typography {
    $base-mobile: 1.4rem;
    $base-tablet: 1.6rem;
    $scale: 1.2;

    max-width: $width-article-max;
    margin: 0 auto;

    font-family: $font-sans-serif;
    font-size: $base-mobile;
    line-height: 1.5;
    color: #333;

    @include mq($from: tablet) {
        font-size: $base-tablet;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-sans-serif;
        margin: 0 0 0.5em;
        font-weight: bold;
        color: #000;

        a {
            color: inherit;
        }
    }

    h1 {
        font-size: $base-mobile * $scale * $scale * $scale;
        line-height: 1.5;
        margin-bottom: 0.75em;

        @include mq($from: tablet) {
            font-size: $base-tablet * $scale * $scale * $scale;
        }
    }

    h2 {
        font-size: $base-mobile * $scale * $scale;
        line-height: 1.5;
        margin-bottom: 0.5em;

        @include mq($from: tablet) {
            font-size: $base-tablet * $scale * $scale;
        }
    }

    h3 {
        font-size: $base-mobile * $scale;
        line-height: 1.8;

        @include mq($from: tablet) {
            font-size: $base-tablet * $scale;
        }
    }

    h4 {
        font-size: $base-mobile;
        line-height: 1.8;

        @include mq($from: tablet) {
            font-size: $base-tablet;
        }
    }

    h5 {
        font-size: $base-mobile / $scale;
        line-height: 1.6;
        font-weight: normal;

        @include mq($from: tablet) {
            font-size: $base-tablet / $scale;
        }
    }

    h6 {
        font-size: $base-mobile / $scale;
        line-height: 1.6;
        font-weight: normal;
        font-style: italic;

        @include mq($from: tablet) {
            font-size: $base-tablet / $scale;
        }
    }

    p {
        margin: 0 0 1em;
        text-indent: 2em;
    }

    ul, ol {
        margin: 0 0 1em;
        padding-left: 2em;
    }

    li {
        > p:first-child {
            text-indent: 0;
        }
    }

    blockquote {
        position: relative;
        margin: 0 0 1em;
        padding: 1em 2em;
        color: #666;
        font-size: 1.2em;
        font-family: $font-serif;

        &::before, &::after {
            font-family: $font-monospace;
            font-size: 2em;
            display: block;
            text-align: center;
        }

        &::before {
            content: '/*';
        }

        &::after {
            content: '*/';
        }

        p:last-child {
            margin-bottom: 0;
        }

        a {
            word-break: break-all;
        }
    }

    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        border-radius: 0.5rem;
    }

    a {
        text-decoration: underline;
        text-decoration-color: #aaa;
    }

    pre, code {
        font-family: $font-monospace;
    }

    li code,
    p code {
        margin-top: -0.1rem;
        padding: 0.1rem 0.4rem;
        background-color: #404f5a;
        border-radius: 0.3rem;
        font-size: 1.2rem;
        color: white;

        @include mq($from: tablet) {
            font-size: 1.4rem;
        }
    }

    pre {
        margin-bottom: 2em;

        code {
            font-size: 1.4rem;
        }
    }

    iframe {
        margin-bottom: 2em;

        @include mq($until: tablet) {
            margin-left: -2rem;
            width: calc(100% + 4rem) !important;
        }

        @include mq($from: tablet) {
            margin-left: -3rem;
            width: calc(100% + 6rem) !important;
        }
    }

    hr {
        margin: 3rem auto;
        border: none;
        border-bottom: 0.1rem dashed #666;
        width: 20rem;
    }
}

.mt-typography--serif {
    font-family: $font-serif;
}
