.mt-unsplash {
    margin-bottom: 3rem;
    width: 100%;
    max-width: $width-site-max;

    @include mq($from: tablet) {
        margin-bottom: -8rem;
    }

    @include mq($from: site-max) {
        margin: 0 auto -10rem;
    }

    @include mq($from: desktop) {
        margin-bottom: -12rem;
    }

    figure {
        margin: 0;
        padding: 0;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-color: #ddd;

        @include mq($from: site-max) {
            border-radius: 1rem;
        }

        &::before {
            content: '';
            display: block;
            padding-bottom: 56.25%;
        }
    }
}
