// MEDIA QUERY
// -----------
$width-article-max: 680px;
$width-site-max: 960px;
$mq-breakpoints: (
    mobile: 320px,
    article: $width-article-max, // article size
    tablet: 740px,
    site-max: $width-site-max,
    desktop: 980px,
    wide: 1300px, // not in use
);

$gutter-mobile: 2rem;
$gutter-tablet: 3rem;
$gutter-desktop: 4rem;

$border-radius-small: 0.3rem;
$border-radius: 0.5rem;
$border-radius-large: 1rem;

// FONTS
// -----

$font-sans-serif: Roboto, Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$font-serif: Georgia, "Times New Roman", "PMingLiu", "STSong", "SimSum", serif;
$font-monospace: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", Courier, monospace;
